<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
    <style>
        p {
            color: white
        }
    </style>
</head>

<body class="bgdiv">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/updateLog">Updates</a></li>
        <li><a href="/test_entry">Calculator</a></li>
    </ul>
    <div class="centerBox">
        <h1 style="color:white">
            Welcome to the League of Oneshot!
        </h1>
        <div>
            <a href="/test_entry">
                <button type="button">Calculator</button>
            </a>
            <a href="/updateLog">
                <button type="button">Update Log</button>
            </a>
        </div>
        <div>
            <h3 style="color:white">What is this??</h3>
            <p style="padding-left: 10px;padding-right: 10px;">League of Oneshot is a passion project where the end goal is to figure out what the best buil is to, well, oneshot someone! We are starting with Pantheon because he's fun and simple. So stage one, you input the combo you want, and we output
                the best build, and the damage it would do, as well as how long it would take. Step two, we add in the ability to adjust the enemy from some generic set of test stats to a specific champion at a specific level with specific items. Phase
                three, we begin adding more and more champs to the calculator. Ideally, we would like the finished product to be something where you put in how much gold/items yout have, what level you and the enemy is, and what items they have and figure
                out how much damage you could do with your combo to them. So welcome one and all, and let the 100-0's begin!!</p>
        </div>
    </div>
</body>

</html>