<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
    <style>
        p {
            color: white
        }
    </style>
</head>

<body class="bgdiv">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/updateLog">Updates</a></li>
        <li><a href="/test_entry">Calculator</a></li>
        <li><a href="/privacy">Privacy</a></li>

    </ul>
    <div class="centerBox">
        <h1 style="color:white">
            Privacy Policy
        </h1>
        <div>
            <p>Third party vendors, including Google, use cookies to serve ads based on a your prior visits to this website or other websites. These advertising cookies enables Google and its partners to serve ads to you based on your visit to this sites
                and/or other sites on the Internet. To opt out of personalized ads, follow <a href="https://www.google.com/settings/ads" target="_blank" rel="noreferrer noopener">this link</a> to turn off personalized ads.</p>
        </div>
    </div>
</body>

</html>