<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
    <title>Webapp Progresss Blog</title>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4963099746269601" crossorigin="anonymous"></script>
    <style>
        h2 {
            color: white
        }
        
        p {
            color: white
        }
    </style>
</head>

<body class="bgdiv">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/updateLog">Updates</a></li>
        <li><a href="/test_entry">Calculator</a></li>
        <li><a href="/privacy">Privacy</a></li>

    </ul>
    <div class="bb1"></div>
    <div class="centerBox">
        <h2>3/7/2022</h2>
        <p>
            Howdy!
        </p>
        <p>
            Here we are again! Now back and better than ever, this time with a fancy dancy menu bar! What navigation! How exciting!! Phenomonal! Hopefully I can get ads on the pages now, but again, it's up to the great overlordds of Google, so we shall see.
        </p>
    </div>
    <div class="centerBox">
        <h2>2/24/2022</h2>
        <p>
            Gamers
        </p>
        <p>
            So here I again have merged some stuff together, so now things look like this, with a new homepage, and this being the update log. Next step would be to add on a menu bar
        </p>
    </div>
    <div class="centerBox">
        <h2>2/24/2022</h2>
        <p>Gamers,</p>
        <p>
            I come to you once again, asking for your support. Here is a button linking to the testing page!! This is just going to be somthing where you can watch me work on different things. Right now, I'm working on dropdown menues and forms, as well as a way
            to update the page without sending a new html doc.
        </p>
        <form action="/test_entry">
            <input type="submit" value="Take me there!" />
        </form>
    </div>
    <div class="centerBox">
        <h2>2/7/2022</h2>
        <p>
            Ok gamers, so the great overlords at Google are not super pleased with my website currently. They aren't allowing me to display ads right now, due to some sort of policy violation, but they refuse to tell me what the violation is. So an update to the
            previous entry, I have disabled the path to let you print your own word as part of the webpage, just out of precaution. However, I think the violation has something to do with the amount of new and original content on the page. So to remedy
            that, I'm going to add some. So below is going to be my review of the 2020 Ride Superpig. This content was made entirely by me and is entirely my opinion.
        </p>
        <h4 style="color: white;">2020 Ride Superpig</h4>
        <p>
            <strong>Size:</strong> 154cm
        </p>
        <p>
            <strong>Rider Weight:</Strong> 160 lbs
        </p>
        <p>
            <strong>Rider Height:</strong> 6'4"
        </p>
        <p>
            <strong>Preffered Style:</strong> Freeride
        </p>
        <p>
            The 2020 Ride Superpig is one of my all time favorite boards. Given my height, and my shoe size, it made a lot of sense for me to get a volume shifted board. While my weight would put me on a 150 cm, I went with the 154, simply because a 150 is really
            short for my height, and having that extra tail is really useful for me.
        </p>
        <p>
            What makes the Superpig so great is how great of an all around daily driver this is. It does absolutely fantastic carving with the stiff an snappy tail, and can be put on a super agressive edge with how wide the board is. The camber gives this board very
            locked in feel, and the progressive sidecut allows for a very easy entry into the turn, and a quick and snappy exit. For powder, this board is a super fun ride. The volume shifted nature of the board really helps it float, although in the
            wet and heavy powder we get in the PNW, it does leave a bit to be desired. When it floats, it floats great, but when it doesn't, it'll take you down with it. You need to be a bit more mindful about powder riding, but it's a lot of fun with
            the quick and snappy profile of the board. The K2 Excavator or Ride Psychocandy would be slightly better option if you find yourself riding powder more often than not. The Superpig also matches my apptitude for freestyle riding, which is to
            say, lacking. If you want a board that would do better on rails, then there's always the Warpig. Howerver, if you're looking to jump, the carbon in this board is INSANE for providing pop and power. While the tail may be short, it is extremely
            lively and ready to send you to the moon. The nose is a lot of fun too, as its far more flexy, and allows for some decent nose presses for how aggressive the board really is.
        </p>

        <p>
            All in all, the Superpig is a fantastic board, and a great choice for bigger guys who want a shorter board, and are looking for some hard riding out of the park. A very similar board would be the Gnu Gremlin. For more powder oriented riding, the Ride
            Psychocandy and K2 Excavator are great alternatives, and the Ride Warpig and Twinpig for a more park focused rider.
        </p>
    </div>
    <div class="centerBox">
        <h2>1/27/2022</h2>
        <p>
            Hey Gamers. So this is pretty cool. What im doing right now is just setting things up for the future. Hopefully this project will take off, but for now, its ok if it doesn't
        </p>
        <br>
        <p>
            So What do I have done so far?? well let me tell you. First, I got flask all set up. This wasn't super hard, but I'm really excited about it because it's really cool what you can do, and it's definitely right up my ally as far as coding goes. Next, I
            got this page going!! Check it out! if you go to https://wyattotsuka.pythonanywhere.com/home/"Your word here" and you replace "Your word here" with a word, it will show up right here:
        </p>
        <br>
        </p><strong>{{input}}</strong></p>
        <br>
        <p>
            Isn't that super cool?? Alright so what's next? Right now I'm waiting on Adsense to give this site the thumbs up. Then (fingers crossed) You'll get to see a big ol' add across the top of the site. Wouldn't that be nice? Just a little something to start
            making some cash, and validate my feelings.
        </p>
        <br>
        <p>
            Anyways, things right now probably look pretty terrible, because they are. As time goes on, I'm sure I'll make this look way better, but untill then <i>Oops!</i>. Thanks again for reading this whole thing. With much love,
        </p>
        <br>
        <p>Wyatt</p>
    </div>

</body>

</html>