.centered {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.centerBox {
    margin: auto;
    width: 70%;
    padding: 10px;
    margin-top: 20px;
    background-color: rgba(15, 15, 15, .85);
}

.bgdiv {
    background-position: center;
    background-image: url(/static/img/bg.jpg);
    background-attachment: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}